<script>

hash_algorithm = '';

var common = '<a href="javascript:hash_algorithm=\'md5\';console.log(\'Using MD5\');"><button type="button" class="btn btn-default">MD5</button></a>'+
'<button type="button" class="btn btn-default">SHA1</button>'+
'<button type="button" class="btn btn-default">SHA-256</button>'+
'<button type="button" class="btn btn-default">SHA-512</button>'+
'<button type="button" class="btn btn-default">SHA-3 (Keccak)</button>'+
'<button type="button" class="btn btn-default">LM</button>'+
'<button type="button" class="btn btn-default">NTLM</button>'+
'<button type="button" class="btn btn-default">md5crypt</button>'+
'<button type="button" class="btn btn-default">WPA</button>'+
'<button type="button" class="btn btn-default">WPA2</button>'+
'<button type="button" class="btn btn-default">Joomla</button>'+
'<button type="button" class="btn btn-default">vBulletin</button>'+
'<button type="button" class="btn btn-default">Wordpress</button>'+
'<button type="button" class="btn btn-default">Double MD5</button>'+
'<button type="button" class="btn btn-default">Double SHA1</button>';

var osx = '<button type="button" class="btn btn-default">OSX 10.4</button>'+
'<button type="button" class="btn btn-default">OSX 10.5</button>'+
'<button type="button" class="btn btn-default">OSX 10.6</button>'+
'<button type="button" class="btn btn-default">OSX 10.7</button>'+
'<button type="button" class="btn btn-default">OSX 10.8</button>'+
'<button type="button" class="btn btn-default">OSX 10.9</button>';



function displayAlgoList(button_list) {
	document.getElementById("algo-selection").innerHTML = button_list;
}

</script>

<br />
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">1. Select the Algorithm</h3>
	</div>
	<div class="panel-body">
		<ul class="nav  nav-tabs" role="tablist">
			<li><a href="javascript:displayAlgoList(common);">Common</a></li>
			<li><a href="javascript:displayAlgoList(osx);">OSX</a></li>
			<li><a href="#">HMAC</a></li>
			<li><a href="#">TrueCrypt</a></li>
			<li><a href="#">Office</a></li>
			<li><a href="#">Misc</a></li>
			<li><a href="#">Uncommon</a></li>
		</ul>
        
		<div id="algo-selection">
			Select a class
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">2. Provide hash<font color="grey">es</font></h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<label for="name">Paste here</label>
				<textarea class="form-control" rows="5" placeholder="8743b52063cd84097a65d1633f5c74f5"></textarea>
			</div>
		</form>
		<b>
		Or 
		<label class="btn btn-primary" for="my-file-selector">
		<input id="my-file-selector" type="file" style="display:none;">
		upload a file
		</label>
		containing one hash per line. (none selected)
		</b>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">3. Add attacks</h3>
	</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">4. Start</h3>
	</div>
	<div class="panel-body">
			
			
			
			<div class="col-lg-2">
				<button type="button" class="btn btn-danger">Queue attack</button>
			</div>
			
			<div class="col-lg-4">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox">
						Email results
					</span>
					<input type="text" class="form-control" placeholder="name@example.com">
				</div>
			</div>
			
			<div class="col-lg-2">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					Priority
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">Lowest</li>
					<li role="presentation">Highest (next job)</li>
				  </ul>
				</div>
			</div>
			
			
			
	</div>
</div>
