<h2>Select the Algorithm</h2>
	<p class="lead">

		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#">Common</a></li>
			<li><a href="#">OSX</a></li>
			<li><a href="#">HMAC</a></li>
			<li><a href="#">TrueCrypt</a></li>
			<li><a href="#">Office</a></li>
			<li><a href="#">Misc</a></li>
			<li><a href="#">Uncommon</a></li>
		</ul>

		<br />
        
        <div class="algo-selection">
			<button type="button" class="btn btn-default btn-lg">MD5</button>
			<button type="button" class="btn btn-default btn-lg">SHA1</button>
			<button type="button" class="btn btn-default btn-lg">SHA-256</button>
			<button type="button" class="btn btn-default btn-lg">SHA-512</button>
			<button type="button" class="btn btn-default btn-lg">SHA-3 (Keccak)</button>
			<button type="button" class="btn btn-default btn-lg">LM</button>
			<button type="button" class="btn btn-default btn-lg">NTLM</button>
			<button type="button" class="btn btn-default btn-lg">md5crypt</button>
			<button type="button" class="btn btn-default btn-lg">WPA</button>
			<button type="button" class="btn btn-default btn-lg">WPA2</button>
			<button type="button" class="btn btn-default btn-lg">Joomla</button>
			<button type="button" class="btn btn-default btn-lg">vBulletin</button>
			<button type="button" class="btn btn-default btn-lg">Wordpress</button>
			<button type="button" class="btn btn-default btn-lg">Double MD5</button>
			<button type="button" class="btn btn-default btn-lg">Double SHA1</button>
        </div>
        
	</p>
	
<br />
<h2>Provide hash<font color="grey">es</font></h2>
		<p class="lead">
			<form role="form">
				<div class="form-group">
					<label for="name">Paste here</label>
					<textarea class="form-control" rows="5"></textarea>
				</div>
			</form>

			<b>
			Or 
			<label class="btn btn-primary" for="my-file-selector">
			<input id="my-file-selector" type="file" style="display:none;">
				upload a file
			</label>
			containing one hash per line.
			</b>

		</p>

<br/>
<h2>Add attacks</h2>

<br />
<h2>Reporting options</h2>


