<script>
$('#algo-selection button').on('click', function (e) {
    $(this).addClass('active').siblings().removeClass('active');

    // TODO: insert whatever you want to do with $(this) here
});
</script>

<br />
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">1. Select the Algorithm</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#">Common</a></li>
			<li><a href="#">OSX</a></li>
			<li><a href="#">HMAC</a></li>
			<li><a href="#">TrueCrypt</a></li>
			<li><a href="#">Office</a></li>
			<li><a href="#">Misc</a></li>
			<li><a href="#">Uncommon</a></li>
		</ul>
        
		<div class="algo-selection">
			<button type="button" class="btn btn-default btn-lg">MD5</button>
			<button type="button" class="btn btn-default btn-lg">SHA1</button>
			<button type="button" class="btn btn-default btn-lg">SHA-256</button>
			<button type="button" class="btn btn-default btn-lg">SHA-512</button>
			<button type="button" class="btn btn-default btn-lg">SHA-3 (Keccak)</button>
			<button type="button" class="btn btn-default btn-lg">LM</button>
			<button type="button" class="btn btn-default btn-lg">NTLM</button>
			<button type="button" class="btn btn-default btn-lg">md5crypt</button>
			<button type="button" class="btn btn-default btn-lg">WPA</button>
			<button type="button" class="btn btn-default btn-lg">WPA2</button>
			<button type="button" class="btn btn-default btn-lg">Joomla</button>
			<button type="button" class="btn btn-default btn-lg">vBulletin</button>
			<button type="button" class="btn btn-default btn-lg">Wordpress</button>
			<button type="button" class="btn btn-default btn-lg">Double MD5</button>
			<button type="button" class="btn btn-default btn-lg">Double SHA1</button>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">2. Provide hash<font color="grey">es</font></h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<label for="name">Paste here</label>
				<textarea class="form-control" rows="5" placeholder="8743b52063cd84097a65d1633f5c74f5"></textarea>
			</div>
		</form>
		<b>
		Or 
		<label class="btn btn-primary" for="my-file-selector">
		<input id="my-file-selector" type="file" style="display:none;">
		upload a file
		</label>
		containing one hash per line. (none selected)
		</b>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">3. Add attacks</h3>
	</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">4. Start</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<button type="button" class="btn btn-danger btn-lg">Queue attack</button>
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox">
						Email results
					</span>
					<input type="text" class="form-control" placeholder="name@example.com">
				</div>
			</div>
		</div>
	</div>
</div>
