body {
  padding-top: 50px;
  background-color: #CFCCDD !important;
}

.panel-heading {
/*  background-color: #AAAAAA !important; */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*.btn.active, .btn:active {
    background-color: #000000;
}*/
